.serviceBlock {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "arrow"
    "text";
    background-color: var(--secondary-color);
    width: 100%;
    height: 220px;
    padding: 16px 16px 20px 15px;
}

.serviceArrow {
    display: flex;
    justify-content: flex-end;
    grid-area: arrow;
}

.serviceArrow > a > img {
    transition: 500ms all ease-in-out;
}

.serviceArrow > a > img:hover {
    transition: 500ms all ease-in-out;
    transform: rotate(45deg);
}

.serviceText {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    grid-area: text;
}

.serviceText > p {
    margin-top: 20px;
    width: 50px;
}