.dullText {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--dull-text-color);
}

.normalText {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    color: var(--default-color-text)  
}

.subTitleTextNormal {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    color: var(--default-color-text)
}

.subTitleTextDull {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--dull-text-color);
}