.main {
}

.line::before {
  content: ' ';
  position: absolute;
  top:80px;
  display: block;
  background-color: #2B2B2B;
  width: 2px;
  height: 1000vh;
  z-index: 0;
  opacity: 0.7;
}

.lineTwo::before {
  content: ' ';
  position: absolute;
  top:80px;
  margin-left: 50px;
  display: inline-block;
  background-color: #2B2B2B;
  opacity: 0.7;
  width: 1.5px;
  height: 1000vh;
  z-index: 0;
}

.headerBlock {
  width: 100%;
  background: linear-gradient(135deg, rgba(27,25,26,1) 0%, rgba(27,25,26,0.8436624649859944) 25%, rgba(226,87,48,0.09) 100%); 
}

.wrapperHeaderBlock {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "text image"
  "social social";
  margin: 0 auto;
  
}

.headerBlockText {
  grid-area: text;
  margin-top: 103px;
  z-index: 1;
}

.headerBlockText > p {
  margin: 40px 0
}

.headerBlockImages {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBlockImages > img{
  z-index: 1;
}

.socialBlock {
    grid-area: social;
    display: flex;
    margin: 25px 0 30px;
    justify-content: center;
  }
  
  .socialBlockWrapper{
    display: flex;
    justify-content: space-between;
    width: 500px;
    
  }
  
  .socialItemBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.socialItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: var(--primary-color);
}

.socialTimeWork {
  z-index: 2;
  display: flex;
  width: 140px;
  justify-content: space-between;
  align-items: center;
}

.socialTimeWork > span:last-child {
  color: var(--default-color-text);
}

.socialTimeWork >span:first-child{
  color: var(--primary-color);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

/* Service Block */

.serviceBlock {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(25deg, rgba(27,25,26,1) 0%, rgba(27,25,26,0.8436624649859944) 55%, rgba(226,87,48,0.09576330532212884) 100%);
}

.wrapperServiceBlock {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
}

.serviceTitle {
  padding-left: 30px;
  margin-top: 145px;
  display: flex;
  align-items: center;
}

.serviceTitle > h2 {
  padding-left: 30px;
  
  line-height: 0;
}

.serviceTitle::before {
  content: ' ';
  position: relative;
  margin-left: -30px;
  display: block;
  background-color: var(--primary-color);
  width: 1px;
  height: 35px;
}

.services {
  display: grid;
  margin-top: 50px;
  z-index: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.servicesButton {
  display: none;
}





@media screen and (max-width: 768px) {
  .headerBlock {
    background: none
  }
  .line::before {
    display: none;
  }
  .lineTwo::before {
    display: none;
  }
  .wrapperHeaderBlock {
    max-width: auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "text"
    "image"
    "social";
  }
  .headerBlockText {
    margin-top: 0;
  }
  
  .headerBlockText > h1 {
    font-size: 60px;
    line-height: 72px;
  }
  .headerBlockText > p {
    margin: 0;
    margin-bottom: 25px;
  }

  .headerBlockImages {
    justify-content: flex-end
  }
  
  .headerBlockImages > img {
    margin-top: -50px;
    width: 200px;
    height: 200px;
  }

  .socialBlock {
    max-width: auto;
  }

  .socialBlockWrapper {
    width: 100%;
    justify-content: space-between;
  }

  .serviceBlock {
    background: none;
  }

  .serviceTitle {
    margin-top: 100px;
    padding-left: 0;
  }

  .serviceTitle > h2  {
    font-size: 28px;
    padding-left: 0;
  }

  .serviceTitle::before {
    display: none;
  }
  
  .services {
    grid-template-columns: 1fr;
  }

  .servicesButton {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

}

