.header {
  background: url('../../../../../public/images/frameService.png') no-repeat center;
  display: block;
  max-width: 100%;
  height: 220px;

  &Wrapper {
    margin: 0 auto;
    max-width: 1200px;
    h1 {
      font-size: 48px;
      color: #fff;
    }
  }
}

.breadCrumb {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 25px;
  &Wrapper {
    margin-left: -15px;
    display: flex;
  }
}

.result {
  margin: 0 auto;
  margin-top: 150px;
  max-width: 1200px;

  &Title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    h2 {
      line-height: 120%;
      padding-left: 30px;
    }

    &::before {
      content: ' ';
      position: relative;
      margin-top: 15px;
      margin-left: -30px;
      display: block;
      background-color: #E25730;
      width: 1px;
      height: 35px;
    }
  }

  &Description {
    color: #fff;
    div > ul > li {
      margin-bottom: 5px;
    }
    div > span {
      display: block;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    div > p {
      margin-bottom: 5px;
    }
    margin-bottom: 40px;
  }

  &Wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 'images list';
  }

  &Images {
    grid-area: images;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 580px;

    &Left {
      background-image: url('../../../../../public/images/lawa-right.png');
      width: 270px;
      height: 476px;
    }

    &Right {
      background-image: url('../../../../../public/images/lawa-left.png');
      margin-top: 60px;
      width: 270px;
      height: 476px;
    }
  }

  &List {
    grid-area: list;
    max-width: 450px;
    p {
      margin: 40px 0 80px 0;
    }
  }
}

.specifics {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 130px;
  display: grid;
  grid-template-areas:
    'title'
    'arsenal';
  gap: 30px;

  &Title {
    display: inline-flex;
    align-items: center;
    grid-area: title;
    white-space: nowrap;

    h2 {
      margin-left: 30px;
    }

    &::before {
      content: ' ';
      position: relative;
      display: block;
      background-color: #E25730;
      width: 1px;
      height: 35px;
    }
  }
  &Arsenal {
    display: grid;
    grid-area: arsenal;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;

    &Item {
      background-color: #242424;
      align-items: center;
      justify-content: center;
      text-align: center;
      max-width: 100%;
    }
  }
}

.process {
  margin: 0 auto;
  margin-top: 150px;
  max-width: 1200px;

  &Wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    grid-template-areas: 'first next last';
  }

  &First {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E25730;
    border-right: none;
    max-height: 565px;
    max-width: 100%;
    grid-area: first;

    h3 {
      margin: 35px 0 20px;
    }

    &Items {
      list-style: none;
      color: #fff;
      li {
        margin-bottom: 18px;
        max-width: 200px;
      }
    }
  }

  &Next {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    grid-area: next;
    max-width: 100%;
    height: 720px;
  }

  &Last {
    background-color: #E25730;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #E25730;
    border-right: none;
    max-height: 565px;
    max-width: 100%;
    grid-area: last;

    h3 {
      margin: 35px 40px 20px;
    }

    &Items {
      list-style: none;
      color: #fff;
      padding: 0;
      li {
        padding-left: 40px;
        margin-bottom: 18px;
        max-width: 240px;
      }
    }
  }
}

.cases {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 158px;

  &Title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      padding-left: 60px;
      display: flex;
      align-items: center;
      z-index: 1;

      &::before {
        content: ' ';
        position: relative;
        margin-right: 30px;
        margin-left: -60px;
        display: block;
        background-color: #E25730;
        width: 1px;
        height: 35px;
      }
    }
  }

  &Cards {
    display: grid;
    margin-top: 46px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &Slider {
    display: none;
  }
}

.reviewCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  margin: 40px 15px 0;
}

.questions {
  background-image: url('../../../../../public/images/frame.png');
  margin-top: 120px;
  max-width: 100%;
  height: 300px;

  &Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;

    button {
      margin-top: 53px;
    }
  }
}
